html,
body {
	
    height: 100%;
	font-family: "Roboto", sans-serif;
    background-color: rgb(88, 84, 69);
    text-shadow: 1px 1px 1px #000;
    color: rgb(255, 255, 255);
	
}

h1{font-family: 'Arial', sans-serif;
    text-transform: capitalize;
    color: rgb(161, 196, 249);
    text-shadow: 1px 1px 1px #000000;

}
h2,
h3{color: rgb(10, 155, 245);
    text-transform: capitalize;
}
h4,
h5,
h6 {
	margin: 0;
	color: #322429;
	font-weight: 700;
}
b{ color: yellow;}

.button {
	display: inline-block;
	border: none;
    border-radius: 10px;
	padding: 5px 10px;
	min-width: 2px;
    height: 15px;
    margin: 10px -20px 10px 10px;
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;
	font-size: 16px;
	background: #ff000a;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}